:root {
    --dark-space-cadet: #1e2749;
    --space-cadet: #273469;
    --lavender-blue: #e4d9ff;
    --ghost-white: #fafaff;
    --gunmetal: #30343f;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 2rem auto;
    background-color: var(--gunmetal);
    color: var(--ghost-white);
    width: 90%;
}

h1 {
    font-size: 3rem;
    color: var(--lavender-blue);
}

section {
    margin: 1rem;
}

.btn {
    background-color: var(--space-cadet);
}

#rules {
    background-color: var(--dark-space-cadet);
    border-radius: 10px;
    padding: 1rem;
}

form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    background-color: var(--space-cadet);
    border: solid 1px #0d6efd;
    border-radius:  5px;
    color: aliceblue;
}

form button:hover{
    background-color: #0d6efd;
    border: solid 1px #0d6efd;
    border-radius:  5px;
    color: aliceblue;
}

#modaltext {
    color: #0d6efd;
}

.resetBtn{
    background-color: var(--space-cadet);
}

#storyGen {
    background-color: var(--dark-space-cadet);
    border-radius: 10px;
    padding: 1rem;
}
